
.main{
  height: 100vh;
  display: flex;
  background-color: #242625;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  z-index: 2;
  color: white;
  display: inline;
  font-size: large;
  font-weight: 900;
}

.btn {
  z-index: 2;
  display: inline;
  padding: 10px;
  font-size: medium;
  color: azure;
  background-color: blue;
  border: 0;
  border-radius: 20px;
  height: 10%;
  width: 20%;
  box-shadow: 0 5px darkblue;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background-color: darkblue;
  box-shadow: 0 2px navy;
}

.emoji {
  z-index: 1;
  font-size: xxx-large;
  position: absolute;
}